body {
  background-color: skyblue;
}

.south {
  transform: rotate(90deg);
  transition: ease-in-out;
}

.west {
  transform: rotate(180deg);
  transition: ease-in-out;
}

.north {
  transform: rotate(270deg);
  transition: ease-in-out;
}

img {
  width: 20%;
  position: absolute;
  animation-name: driveright;
  animation-duration: 16ms;
}

/* @keyframes driverright {

} */
